// Navigation code here
nav {
    margin: auto;
    width: 50%;
    padding-bottom: 1%;
    height: 10%;
    .flex-mixin(column; center; center;);
    background: @nav-bg;
    @media @phone{
        width: 100%;
        margin: 0;
    }
    .nav-header{
        font-size: 4rem;
        margin-bottom: 2%;
    }
    .nav-anchor{
        width: 50%;
        @media @phone{
            width: 80%;
        }
        .flex-mixin(row; space-around; center);
        a{
            text-decoration: none;
            color: @nav-font;
            font-size: 1.75rem;
            @media @phone{
                font-weight: 500;
            }
        }
    }
}
.nav-img{
    .flex-mixin(row; center; center;);
    margin: 0 auto;
    img{
        .border-rad-mixin(3px);
    }
}